p { background-color: red; }
p  { color: blue; }
.paaotsikko { color: yellow; }
* { color: green; }
.container {
	width: 200px;
	height: 100px;
	background-color: red;
}
.Yksi { 
	width: 200px;
	height: 100px;
	background-color: red;
	position: absolute;
	left: 0px;
	border-style: solid;
	border-width: 10px;
	border-color: green;
}
.Kaksi { 
	width: 200px;
  	height: 100px;
  	background-color: yellow;
	position: absolute;
	left: 250px; 
	border-style: dashed;
}
.Kolme { 
	width: 200px;
  	height: 100px;
  	background-color: green; 
	position: absolute;
	left: 500px;
	border-style: solid;
}
body {
	margin: 0 auto;
	max-width: 50em;
	font-family: 'Helvetica', 'Arial', sans-serif;
	line-height: 1.5;
	padding: 4em 1em;
}

